.top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 0px 26px;
    gap: 10px;
    isolation: isolate;

    position: absolute;
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;

    background: #FF5454;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}


.container {
    display: inline-block;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 50px;
    left: 0;
    z-index: 1;
    width: 65px;
    height: 65px;
    background-color: #FF5454;
    border-radius: 50px;
}

.bar1,
.bar2,
.bar3 {
    width: 38px;
    height: 2px;
    background-color: #333;
    margin: 12px 12px;
}

.change .bar1 {
    transition: 0.4s;
    margin-left: 0px;
    -webkit-transform: rotate(-45deg) translate(-10px, 12px);
    transform: rotate(-45deg) translate(-10px, 12px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transition: 0.4s;
    margin-left: 0px;
    -webkit-transform: rotate(45deg) translate(-7px, -10px);
    transform: rotate(45deg) translate(-7px, -10px);
}

.menuContent {

    height: 550px;
    background-color: #FF5454;
    padding-left: 130px;
    margin-left: -50px;
    opacity: 0;
    transition: 1s;
    pointer-events: none;
    width: 250px;
    height: 100%;
    margin-top: -5px;

}

#menuContentBottom {
    border-radius: 0 0 50px 0;
}

.show .menuContent {
    z-index: 1;
    height: 100%;
    overflow: hidden;
    display: block;
    background-color: #FF5454;
    margin-left: -50px;
    opacity: 90;
    transition: 0.5s;
    -webkit-appearance: none;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    pointer-events: all;
    display: inline-block;

}

.menuContent a {
    text-decoration: none;
    display: block;
    width: 300px;
    height: 100%;
    margin-left: -65px;
    background-color: #FF5454;
border-radius: 50px;
    color: #F5F5FA;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}

.headLine {
    padding-right: 75px;
    margin: auto;
    width: 230px;
    height: 30px;
    background-color: #FF5454;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -0.01em;
    color: #000000;
}

.box1 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.searchBar {
    transition: 1s;
    width: 250px;
    height: 50px;
    border: none;
    padding-left: 100px;
    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    -webkit-appearance: none;
    margin-top: 100px;
    font-size: 18px;
    align-items: center;


    align-items: center;

    cursor: pointer;

}

.recordsSearch {
    transition: 1s;
    width: 50%;
    height: 50px;
    border: none;
    margin-left: 25%;
    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    -webkit-appearance: none;
    margin-top: 100px;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
}
.recordsSearchType {
    transition: 1s;
    width: 50%;
    height: 50px;
    border: none;
    margin-left: 25%;
    padding-left: 15%;
    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;
    justify-content: center;
    display: flex;
    -webkit-appearance: none;
    margin-top: 20px;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
}

.submit {
    transition: 1s;
    margin-top: 10px;
    float: right;
    isolation: isolate;
    width: 50px;
    height: 28px;
    border: none;
    background: #BABAFF;
    border-radius: 30px;
    cursor: pointer;
    color: black;
    align-items: center;

}
.submit1 {
    transition: 1s;
    margin-top: 10px;
    width: 50px;
    height: 28px;
    margin-left: 35%;
    border: none;
    color: black;
    background: #BABAFF;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;

}
.submit2 {
    transition: 1s;
    width: 70px;
    height: 28px;
    transform: translate(-120%, -100%);
    border: none;
    color: black;
    background: #BABAFF;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}

h2 {

    margin-bottom: -70px;
}

.box2 {
    transition: 1s;
    position: absolute;
    width: 90%;
    height: 40px;
    top: 220px;
    left: 5%;
    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;
    padding-top: 20px;
    align-items: center;


    letter-spacing: -0.01em;
}
.box2a {
    transition: 1s;
    position: absolute;
    width: 90%;
    height: 40px;
    top: 320px;
    left: 5%;
    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;
    padding-top: 20px;
    align-items: center;


    letter-spacing: -0.01em;
}

.box3 {
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0%;
    top: 310px;
    overflow: auto;
    overflow-x: hidden;
    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;
margin-bottom: 10px;
}
.box3a {
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0%;
    top: 410px;
    overflow: auto;
    overflow-x: hidden;
    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;
margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {

    .box3,
    .box2 {
        width: 65%;
        left: 17.5%;
    }

    .recordsSearch {
        width: 30%;
        margin-left: 35%;
    }
    .recordsSearchType {
        width: 30%;
        margin-left: 35%;
        padding-left: 15%;
    }
    .submit1{
        margin-left: 25%;
    }
    .submit2{
        margin-left: 5%;
        transform: translate(-270%, -100%);

    }
}

.box4 {
    transition: 1s;
    position: absolute;
    width: 90%;
    height: 135px;
    left: 5%;
    top: 200px;

    background: #F5F5FA;
    box-shadow: 0px 5px 20px rgba(170, 170, 204, 0.5);
    border-radius: 15px;

}

.donee {
    transition: 1s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    isolation: isolate;
    border: none;
    position: absolute;
    width: 30%;
    height: 50px;
    right: 7%;
    top: 353px;

    background: #F5F5FA;
    box-shadow: 10px 10px 20px rgba(170, 170, 204, 0.5);
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    justify-content: center;
    display: flex;
    -webkit-appearance: none;
    font-size: 18px;
    font-style: normal;
    align-items: center;
    text-align: center;
}

.donationAmount {
    transition: 1s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    isolation: isolate;
    border: none;
    position: absolute;
    width: 30%;
    height: 50px;
    left: 7%;
    top: 353px;

    background: #F5F5FA;
    box-shadow: 10px 10px 20px rgba(170, 170, 204, 0.5);
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    justify-content: center;
    display: flex;
    -webkit-appearance: none;
    font-size: 18px;
    font-style: normal;
    align-items: center;
    text-align: center;
}

.searchDonor {
    transition: 1s;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    isolation: isolate;
    border: none;
    position: absolute;
    width: 30%;
    height: 50px;
    left: 35%;
    top: 100px;
    background: #F5F5FA;
    box-shadow: 10px 10px 20px rgba(170, 170, 204, 0.5);
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;

    justify-content: center;
    display: flex;
    -webkit-appearance: none;
    font-size: 18px;
    font-style: normal;
    align-items: center;
    text-align: center;
}

.searchDonorSubmit {
    transition: 1s;
    margin-top: 150px;
    margin-left: 35%;
    width: 20%;
    height: 30px;
    border: none;
    background: #BABAFF;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

@media only screen and (min-width: 768px) {
    .donee {
        width: 15%;
        right: 27%;
    }

    .donationAmount {
        width: 15%;
        left: 27%;
    }
}

.donateSubmit {
    transition: 1s;
    margin-top: 320px;
    width: 100%;
    height: 50px;
    border: none;
    background: #BABAFF;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;

    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
}

.donateSubmit:hover {
    background: #93eb8d;
}

.donateUpdate {
    transition: 1s;
    margin-top: 100px;
    float: right;
    margin-right: 5%;
    width: 100px;
    height: 30px;
    border: none;
    background: #BABAFF;
    border-radius: 10px;
    cursor: pointer;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #F5F5FA;
    border-radius: 20px;
}

th {
    background-color: #F5F5FA;
    color: black;
    padding-bottom: 10px;
}

td {
    background-color: #F5F5FA;
    border-right: solid 2px rgb(0, 0, 0); 
}
#td {
    border-right: solid 0px rgb(0, 0, 0); 
}
table tbody tr:hover td {
    background-color: #FFEDEE;
  }
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 20px;
  }
  #tableHead{ position: sticky; top: 0; }
  
 a {
     text-decoration:none;
     color: black;
    background: #BABAFF;
 }
  
  